<!DOCTYPE html>
<html>
  <head>
    <title>Castle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyD_BWodQTyzR5pGyg3r5SQYJ5oa0KGrPzc" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <script type="text/javascript">window.logo = "<%= image_url('logo.png') %>"</script>
    <script type="text/javascript">window.logo_red = "<%= image_url('logo_red.png') %>"</script>
    <script type="text/javascript">window.closex = "<%= image_url('closex.png') %>"</script>
    <script type="text/javascript">window.marker = "<%= image_url('marker_bubble.ico') %>"</script>
    <script type="text/javascript">window.ac = "<%= image_url('air-conditioner-amenity.png') %>"</script>
    <script type="text/javascript">window.fireplace = "<%= image_url('fireplace-amenity.png') %>"</script>
    <script type="text/javascript">window.gym = "<%= image_url('gym-amenity.png') %>"</script>
    <script type="text/javascript">window.kitchen = "<%= image_url('kitchen-amenity.png') %>"</script>
    <script type="text/javascript">window.tv = "<%= image_url('tv-amenity.png') %>"</script>
    <script type="text/javascript">window.wifi = "<%= image_url('wifi-amenity.png') %>"</script>
    <script type="text/javascript">window.pawn = "<%= image_url('pawn.png') %>"</script>
    <script type="text/javascript">window.crown = "<%= image_url('crown.png') %>"</script>
    <script type="text/javascript">window.house = "<%= image_url('house.png') %>"</script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>